
<div id="dictionary" class="big-bg">
  <%= render "shared/dictionary_header" %>
  <main>
    <div class="ui_wrapper">
      <div class="select">
        <label class="selectbox-003">
          <select>
            <option>昇順</option>
            <option>降順</option>
          </select>
        </label>
      </div><!-- /.select -->

      <div id="open">
        辞書を登録する
      </div>
    </div>
    <!-- modal window -->
    <div id="modal" class="hidden"> 
      <%= form_with(model: @dictionary, local: true) do |f| %>
      <%= f.label :name, "辞書の名前：" %><br>

      <%= f.text_field :name %>
      <%= f.submit "保存" %>
    <% end %>
    <div id="close">
      <span class="material-symbols-outlined">
        cancel
      </span>
    </div>
    </div>
    <div id="mask" class="hidden"></div>
    <!-- end modal window -->
    <div class="card-content grid">
      <% @dictionaries.each do|dictionary| %>
      <div class="d-wrapp">
        <%= image_tag "b_book.png", width: 150, height: 250 %>
          <%= link_to dictionary.name, dictionary_path(dictionary) ,class:"dictionary__category fuchidori"%>
        <%= link_to "削除", dictionary_path(dictionary), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn-delete"%>
      </div>
      <% end %>
    </div>
  </main> 
</div><!-- /#dictionary /.big-bg-->
<%= javascript_pack_tag 'dictionary_new' %>
