<div id="word_body" class="big-bg">
  <%= render "shared/header" %>
  <main>
    <div class="ui_wrapper">
      <div class="select">
        <label class="selectbox-003">
          <select>
            <option>昇順</option>
            <option>降順</option>
          </select>
        </label>
      </div><!-- /.select -->

      <!-- modal open -->
      <div id="openWord">
        単語を登録する
      </div>
    </div>
    <!-- modal window -->
    <div id="modalWord" class="hiddenWord"> 
      <%= form_with model: [@dictionary, @word], local: true do |f| %>
      <%= f.label :word, "新しい単語：" %>
      <%= f.text_field :word %><br>
        <%= f.label :mean, "意味：" %><br>
        <%= f.text_area :mean, id: "mean-text-area" %>
      <div class="word_add_button">
        <%= f.submit "保存" %>
      </div>
      <% end %>
      <div id="closeWord">
        <span class="material-symbols-outlined">
          cancel
        </span>
      </div>
    </div>
    <div id="maskWord" class="hiddenWord"></div>
    <!-- end modal window -->

  <div class="card-content grid">
    <% @words.each do |word| %>
      <div class="word_lists">
        <h3 class="word"><%= word.word %></h3>
        <p class="description"><%= word.mean %></p>
      </div>
    <% end %>
  </div>
    </div><!-- /.card-content grid -->
  </main> 
</div><!-- /#dictionary /.big-bg-->
<%= javascript_pack_tag 'add_word_modal' %>
